@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'react-toastify/dist/ReactToastify.min.css';

.spacing-to-nav {
  margin-top: 60px;
}
a {
  text-decoration: none;
}
.avatar {
  width: 45px;
  height: 45px;
  object-fit: cover;
}
