@import 'react-toastify/dist/ReactToastify.min.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

.spacing-to-nav {
  margin-top: 60px;
}
a {
  text-decoration: none;
}
.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.icon {
  width: 24px;
  height: 24px;
}
.none-select {
  user-select: none;
}
